<style id="theme_style">html:root {
    --tbpc-primary-theme-color: rgba(87, 121, 255, 1) !important;
}

/*主容器的背景样式*/
#ice-container {
    position: relative;
    padding-top: 36px;
    margin-top: -36px;
    background: #F7F7F7;
}

/*背景图片*/
#ice-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: inline-block;
    background-image: url("https://img.alicdn.com/imgextra/i2/1856213445/O1CN01T2RV3h1bJrRL7cATg_!!1856213445-2-tblife2_ugc.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

/*最顶部title*/
.site-nav-status-logout,
.site-nav-status-login {
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

/*顶部title内部背景颜色*/
.site-nav-status-logout .site-nav-bd,
.site-nav-status-login .site-nav-bd {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
/*title区域未登录时文字颜色*/
.site-nav .site-nav-bd .site-nav-login .h{
    color: #ff5000 !important;
}

/*隐藏顶部第二层的banner广告*/
#ice-container .tbh-superbanner{
    display: none;
}
/*隐藏顶部第二层的banner广告 方法2*/
[class*="superbanner-background-image--"] {
    display: none;
}

/*搜索区域-----------------------------*/
/*搜索按钮边框*/
.search-wrap .search-suggest {
    border: 2px solid rgba(135, 161, 255, 1);
}

/*搜索弹出建议区域*/
.search-wrap .search-suggest-menu {
    border: 2px solid rgba(135, 161, 255, 1);
    border-top: none;
}

/*搜索框区域背景颜色*/
#ice-container .search-decorations{
    background: transparent;
}
/*搜索框区域背景颜色, 方法2*/
[class*="search-decorations--"]{
    background-color: transparent !important;
}

/*搜索按钮颜色*/
.search-wrap .search-suggest .btn-search {
    background: rgba(87, 121, 255, 1);
}

/*隐藏热门词*/
.search-wrap .search-suggest [data-sg-type="hotWord"] {
    display: none;
}

/*隐藏右侧元宝提示*/
.tbh-logo-right.J_Module {
    display: none;
}

/*设置页面中的卡片的阴影*/
/*设置分类模块阴影*/
.screen-outer .J_Service, /*左侧分类*/
.screen-outer .business-entry-slide-banner, /*轮播图*/
.screen-outer .newnav, /*中央顶部*/
.screen-outer .business-entry-large-item-card,
.screen-outer .business-entry-small-item-card,
.screen-outer .business-entry-bbs-card,
.screen-outer .business-entry-live-card,
.screen-outer .tbh-user {
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px 0 rgba(48, 70, 142, 0.3);
}

/*左侧分类区域------------------------*/
/*分类面板*/

/*设置边距用于显示自定义的icon*/
[class*="service-bd--"] [class*="first-cate-container--"] {
    position: relative;
    padding-left: 32px;
}

/*使用伪类显示icon*/
[class*="service-bd--"] [class*="first-cate-container--"]::before {
    position: absolute;
    top: 4px;
    left: -2px;
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
    background-position: center;
}

/*选择单个元素, 进行设置背景图标*/
[class*="service-bd--"] [data-index="0"] [class*="first-cate-container--"]::before {
    /*computer*/
    background-image: url('https://img.alicdn.com/imgextra/i1/1856213445/O1CN0148SQbF1bJrRKdraS2_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="1"] [class*="first-cate-container--"]::before {
    /*bolt*/
    background-image: url('https://img.alicdn.com/imgextra/i3/1856213445/O1CN01EseWiO1bJrRJMPOBA_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="2"] [class*="first-cate-container--"]::before {
    /*camera*/
    background-image: url('https://img.alicdn.com/imgextra/i3/1856213445/O1CN01nkPfWk1bJrREZrJov_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="3"] [class*="first-cate-container--"]::before {
    /*furniture*/
    background-image: url('https://img.alicdn.com/imgextra/i1/1856213445/O1CN01p4UYC21bJrRHVQM0p_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="4"] [class*="first-cate-container--"]::before {
    /*cloth*/
    background-image: url('https://img.alicdn.com/imgextra/i2/1856213445/O1CN01JRtQUc1bJrRJYk7Qf_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="5"] [class*="first-cate-container--"]::before {
    /*shoe*/
    background-image: url('https://img.alicdn.com/imgextra/i1/1856213445/O1CN01vtjiNn1bJrRFczznt_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="6"] [class*="first-cate-container--"]::before {
    /*car*/
    background-image: url('https://img.alicdn.com/imgextra/i1/1856213445/O1CN01sv7MLQ1bJrRFLsGKr_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="7"] [class*="first-cate-container--"]::before {
    /*food*/
    background-image: url('https://img.alicdn.com/imgextra/i3/1856213445/O1CN01egF6hf1bJrRJYhMug_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="8"] [class*="first-cate-container--"]::before {
    /*bottle*/
    background-image: url('https://img.alicdn.com/imgextra/i2/1856213445/O1CN01IJmkRs1bJrRFLr3U8_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="9"] [class*="first-cate-container--"]::before {
    /*cosmetics*/
    background-image: url('https://img.alicdn.com/imgextra/i4/1856213445/O1CN018Pdo4F1bJrRHSsk3I_!!1856213445-2-tblife2_ugc.png');
}
[class*="service-bd--"] [data-index="10"] [class*="first-cate-container--"]::before {
    /*book*/
    background-image: url('https://img.alicdn.com/imgextra/i2/1856213445/O1CN01LNwgU61bJrRGrFbrR_!!1856213445-2-tblife2_ugc.png');
}

/*隐藏所有左侧的分类栏中的icon*/
[class*="service-bd--"] [class*="first-cate-container--"] [class*="icon-cate--"] {
    display: none;
}

/*设置中间区域的块元素背景渐变*/
/*中央顶部*/
.screen-outer .newnav {
    background: linear-gradient(180deg, rgba(245, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
}

/*中央四个卡片区域*/
.screen-outer .business-entry-container {
    padding-bottom: 2px;
}
/*百亿补贴*/
.screen-outer .business-entry-large-item-card {
    background: linear-gradient(180deg, rgba(255, 250, 241, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
}
.screen-outer .business-entry-small-item-card:nth-of-type(4) {
    background: linear-gradient(180deg, rgba(235, 242, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
}
.screen-outer .business-entry-small-item-card:nth-of-type(5) {
    background: linear-gradient(180deg, rgba(255, 252, 237, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
}
/*热门卡片*/
.screen-outer .business-entry-bbs-card {
    background: linear-gradient(180deg, rgba(230, 243, 233, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
}
/*直播卡片*/
.screen-outer .business-entry-live-card {
    background: linear-gradient(180deg, rgba(242, 235, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
}

/*修改右侧个人信息板块下的图标*/
/*登录按钮颜色*/
.col-right .tbh-user .member-logout .btn-login {
    background: linear-gradient(270deg, #FF7536 0%, #FF9666 100%);
}
/*修改容器宽度*/
.col-right .tbh-user .member-ft-order,
.col-right .tbh-user .user-mytao,
.col-right .tbh-user .user-externalLink {
    width: 218px;
    margin-left: -2px;
}

/*将原本的图标进行隐藏*/
.mytao-content .tb-ifont.mytao-icon {
    position: relative;
    visibility: hidden;
}

/*设置伪类放置新图标*/
.mytao-content .tb-ifont.mytao-icon::before {
    position: absolute;
    top: -4px;
    left: 6px;
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    visibility: visible;
    background-size: cover;
    background-position: center;
}

/*个人信息区域设置具体的图标*/
.mytao-content [data-spm="d_1"] .tb-ifont.mytao-icon::before {
    /*star*/
    background-image: url('https://img.alicdn.com/imgextra/i4/1856213445/O1CN01Gdiwtj1bJrRIe8K5A_!!1856213445-2-tblife2_ugc.png');
}
.mytao-content [data-spm="d_2"] .tb-ifont.mytao-icon::before {
    /*house*/
    background-image: url('https://img.alicdn.com/imgextra/i1/1856213445/O1CN01WrRNSP1bJrRHXIdLk_!!1856213445-2-tblife2_ugc.png');
}
.mytao-content [data-spm="d_3"] .tb-ifont.mytao-icon::before {
    /*shirt*/
    background-image: url('https://img.alicdn.com/imgextra/i1/1856213445/O1CN01VFV3hT1bJrRKfqJD4_!!1856213445-2-tblife2_ugc.png');
}
.mytao-content [data-spm="d_4"] .tb-ifont.mytao-icon::before {
    /*time*/
    background-image: url('https://img.alicdn.com/imgextra/i3/1856213445/O1CN01Lq2vQc1bJrRJal7q3_!!1856213445-2-tblife2_ugc.png');
}

/*隐藏容器白色边框*/
/*隐藏头部右侧的new icon*/
.screen-outer [class*="cate-title--"] [class*="cate-title-icon--"] {
    display: none;
}

/*头部分类区域*/
[class*="category-collapse-container--"] .J_Service {
    height: 396px !important;
    background: rgba(255, 255, 255, 0.85);
}

/*右侧用户头像区域*/
.col-right .tbh-user.J_Module {
    background: rgba(255, 255, 255, 0.85);
}

/*中间区域设置背景透明*/
.screen-outer.clearfix {
    margin-top: -4px;
    background: transparent;
}

.screen-outer.clearfix .main {
    background: transparent;
}
.main-inner.clearfix {
    background: transparent;
}
.screen-outer.clearfix .main .core{
    box-sizing: border-box;
    padding-bottom: 2px;
}

/*中部猜你喜欢区域--------------------------------------------------*/
#ice-container .layer {
    background: transparent;
}
/*猜你喜欢的背景颜色*/
.tb-picks-container .smallTabListWrapper {
    background: transparent;
}
/*页面滚动时背景颜色*/
.layer-inner .tb-picks-container .smallTabListWrapperFixed {
    top: 36px !important;
    background: white;
}

/*设置中间猜你喜欢栏上边距*/
.tb-picks-container .smallTabListWrapper {
    margin-top: 18px;
    height: 60px;
}

.tb-picks-container .smallTabWrapperSelected .smallTabTitle {
    color: rgba(85, 117, 232, 1);
}

/*选中的下标的提示器*/
.smallTabListWrapper .smallTabWrapperSelected::before {
    transform: translateY(-2px);
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(90deg, #B6C6FF 0%, #5E81FF 100%);
}

/*设置背景颜色*/
.smallTabListWrapper .smallTabListInnerWrapper {
    position: relative;
    box-sizing: border-box;
    padding-left: 18px;
}

.smallTabListWrapper .smallTabListInnerWrapper::before {
    position: absolute;
    top: 0;
    left: 14px;
    content: '';
    display: inline-block;
    width: calc(100% - 28px);
    height: 100%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.85);
    background-size: cover;
    box-shadow: 0 1px 2px 0 rgba(35, 47, 85, 0.2);
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 1);
}

/*更换分类图标*/
.smallTabWrapper .smallTabIcon {
    display: none;
}

.smallTabWrapper .smallTabTitle {
    position: relative;
    padding-left: 30px;
}

.smallTabWrapper .smallTabTitle::before {
    position: absolute;
    top: -2px;
    left: -2px;
    content: '';
    display: inline-block;
    visibility: visible;
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;
}

.smallTabWrapper:nth-of-type(1) .smallTabTitle::before {
    /*love*/
    background-image: url("https://img.alicdn.com/imgextra/i2/1856213445/O1CN01Gq9Le61bJrRFelgvu_!!1856213445-2-tblife2_ugc.png");
}

.smallTabWrapper:nth-of-type(2) .smallTabTitle::before {
    /*basketball*/
    background-image: url("https://img.alicdn.com/imgextra/i1/1856213445/O1CN01Ruxbty1bJrRKwlLeL_!!1856213445-2-tblife2_ugc.png");
}

.smallTabWrapper:nth-of-type(3) .smallTabTitle::before {
    /*candy*/
    background-image: url("https://img.alicdn.com/imgextra/i1/1856213445/O1CN01pGIs1v1bJrRHlk9jL_!!1856213445-2-tblife2_ugc.png");
}

.smallTabWrapper:nth-of-type(4) .smallTabTitle::before {
    /*camera*/
    background-image: url("https://img.alicdn.com/imgextra/i4/1856213445/O1CN01Ranon31bJrREspqjI_!!1856213445-2-tblife2_ugc.png");
}

.smallTabWrapper:nth-of-type(5) .smallTabTitle::before {
    /*cloth*/
    background-image: url("https://img.alicdn.com/imgextra/i4/1856213445/O1CN01DmJGac1bJrRHsCKzc_!!1856213445-2-tblife2_ugc.png");
}

.smallTabWrapper:nth-of-type(6) .smallTabTitle::before {
    /*bucket*/
    background-image: url("https://img.alicdn.com/imgextra/i1/1856213445/O1CN014aM3Hh1bJrRKQCcB0_!!1856213445-2-tblife2_ugc.png");
}

.smallTabWrapper:nth-of-type(7) .smallTabTitle::before {
    /*cosmetics*/
    background-image: url("https://img.alicdn.com/imgextra/i1/1856213445/O1CN01PobPMZ1bJrRJfR4Yt_!!1856213445-2-tblife2_ugc.png");
}

/*设置中部猜你喜欢区域透明背景*/
.layer-inner.tbh-hotsale {
    background: transparent;
}

/*商品卡片区域下移动*/
.tb-pick-feeds-container {
    margin-top: 2px;
}
/*商品卡片添加下边距*/
.tb-pick-feeds-container .tb-pick-content-item{
    margin-bottom: 24px;
}

/*商品卡片修改为白背景*/
.tb-pick-feeds-container .hover-border{
    transition: all 0.1s ease-in-out;
}
.hover-border::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border: 3px solid white;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(48, 70, 142, 0.3);
}

/*商品项鼠标移入效果*/
.tb-pick-content-item .hover-border:hover {
    border: 1px solid rgba(89, 125, 255, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.15);
}
/*商品项移入的时候 ,添加指示图标*/
.tb-pick-content-item .hover-border:hover::after {
    position: absolute;
    bottom: 12px;
    right: 12px;
    content: '';
    width: 20px;
    height: 20px;
    background: rgba(73, 81, 255, 0.55);
    border: 1px solid white;
    box-shadow: 0 0 8px 0 rgba(45, 42, 161, 0.22);
    border-radius: 50%;
}
/*网页右边toolkit浮块图标修改*/
.tb-toolkit-list .toolkit-icon {
    position: relative;
    visibility: hidden;
}

.tb-toolkit-list .toolkit-icon::before {
    position: absolute;
    top: 0;
    left: 14px;
    content: '';
    display: inline-block;
    visibility: visible;
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;
}

.toolkit-item:nth-of-type(1) .toolkit-icon::before {
    background-image: url("https://img.alicdn.com/imgextra/i1/1856213445/O1CN0100HHRo1bJrRHqFgT8_!!1856213445-2-tblife2_ugc.png");
}

.toolkit-item:nth-of-type(3) .toolkit-icon::before {
    background-image: url("https://img.alicdn.com/imgextra/i3/1856213445/O1CN01KzuyeE1bJrRFhEtNi_!!1856213445-2-tblife2_ugc.png");
}

.toolkit-item:nth-of-type(4) .toolkit-icon::before {
    background-image: url("https://img.alicdn.com/imgextra/i1/1856213445/O1CN01TS3ajt1bJrRKSKbGR_!!1856213445-2-tblife2_ugc.png");
}

.toolkit-item:nth-of-type(5) .toolkit-icon::before {
    background-image: url("https://img.alicdn.com/imgextra/i4/1856213445/O1CN01rFiLE51bJrRIV5D3N_!!1856213445-2-tblife2_ugc.png");
}

/*右侧toolkit中的im聊天单独设置图标样式*/
.im-entry .im-icon {
    visibility: hidden;
}

/*消息数量通知气泡背景颜色*/
.tb-toolkit .tb-toolkit-list .im-entry .im-top .im-num {
    background: rgb(255, 95, 0);
    z-index: 1;
}

/*购物车数量气泡背景颜色*/
.tb-toolkit .tb-toolkit-list .toolkit-item .toolkit-cart-num {
    background: rgb(255, 95, 0) !important;
}

.im-entry .im-bottom {
    position: relative;
}

.im-entry .im-bottom::before {
    position: absolute;
    top: -28px;
    left: 15px;
    content: '';
    display: inline-block;
    visibility: visible;
    width: 28px;
    height: 28px;
    background-image: url("https://img.alicdn.com/imgextra/i4/1856213445/O1CN01XzsqIO1bJrRFxvhc8_!!1856213445-2-tblife2_ugc.png");
    background-size: cover;
    background-position: center;
}

/*返回顶部样式单独设置*/
#J_Toolkit .tb-toolkit .tb-toolkit-list .toolkit-item-back {
    bottom: -56px;
    height: 50px;
    box-shadow: 0 0 18px 0 rgba(46, 86, 215, 0.29);
}

.toolkit-item .back-btn .toolkit-icon::before {
    top: -10px;
    background-image: url("https://img.alicdn.com/imgextra/i3/1856213445/O1CN01MfAtmq1bJrRHS8gAp_!!1856213445-2-tblife2_ugc.png");
}

/*右侧toolkit添加阴影*/
#J_Toolkit .tb-toolkit {
    box-shadow: 0 0 17.5px 0 rgba(46, 86, 215, 0.29);
}



[class*="search-decorations--"]{
background-color: transparent !important;
}
[class*="superbanner-background-image--"] {
display: none;
}
</style>